
html, body {
	margin: 0;
	padding: 0;
}

img, video {
	max-width: 100%;
	height: auto;
	display: block;
}

*, *::before, *::after {
	box-sizing: border-box;
}



/* NAVBAR */

#scroll-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	transition: 0.6s ease;
}
#scroll-navbar.show {
	background: rgba(0, 0, 0, 1) repeat;
	border-bottom: 1px solid #A2A2A2;
}
#scroll-navbar.show-delayed {
	background: rgba(0, 0, 0, 1) repeat;
	border-bottom: 1px solid #A2A2A2;
	transition: 1s ease-in;
}

navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: none;
	padding: 25px;
}
.nav-content {
	display: flex;
	gap: 4em;
	margin-right: 50px;
	font-size: 1.2em;
	align-items: center;
}
.nav-logo {
	margin-left: 50px;
	align-self: center;
	max-width: 80px;
	max-height: 80px;
	padding: 2px;
	background-color: white;
}

/* HERO */
.hero {
	display: flex;
	background: black url('images/chalky-bg.jpg') repeat;
	background-size: cover; /* or 'auto' for natural size */
	animation: move-bg 1s linear infinite;
	background-color: black;
	padding: 2em;
	padding-top: 8em;
	justify-content: space-evenly;
}
	
.hero-content {
	font-size: 1.5em;
	color: rgb(255, 255, 255);
	flex-direction: column;
	padding: 0 5em 2em 0em;
	align-self: center;
	
}
.hero-image {
	display: block;
	height: auto;
	max-width: 720px;
	opacity: 0.2;
	border-radius: 10px;
}
.hero-content h1, .hero-content h3 {
	margin-left: 25px;
}
.hero-content h2, .hero-content h3 {
	opacity: 0;
}

/* INTRO */
.intro {
	display: flex;
	justify-content: space-between;
	background: black url('images/intro-page-larger.png') repeat;
	background-size: auto;
	height: 1080px;
	padding: 123px;
}
.carousel {
  display: flex;
  width: 1000px;   /* adjust as needed */
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease; /* smooth sliding */
}

.carousel-track iframe {
  min-width: 100%;  /* one iframe per "slide" */
  height: 490px;    /* adjust height */
  border: none;
  border-radius: 25px;
  pointer-events: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,1);
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  height: 100px;
  z-index: 10;
}
.carousel-btn.left { left: 10px; }
.carousel-btn.right { right: 10px; }


.intro-text-box {
	align-self: center;
	height: 1000px;
	width: 550px;
	padding-top: 2em;
	margin: 0;
}
.intro-text h1, .intro-text h2, .intro-text h3 {
	opacity: 0
}
.intro-text h1 {
	text-align: center;
	margin-top: 25px;
	padding-bottom: 40px;

}
.intro-text {
	color: white;
}
#intro-h1.animate {
	animation: fade-in 0.5s ease-in forwards, slide-up 0.6s ease-out forwards;
}
.intro-text-primary {
	max-width: 70%;
	justify-self: flex-start;
	margin: 5px 100px;
	text-shadow: color(display-p3 0.534 0.724 0.775) 0px 1px 5px;
	color: rgb(255, 255, 255);
}
#intro-primary2, #intro-secondary2 {
	line-height: 45px;
}
#intro-primary.animate {
	animation: fade-in 0.5s ease-in forwards, slide-up 0.6s ease-out forwards;
}
#intro-primary2.animate {
	animation: fade-in 0.5s ease-in forwards, slide-up 0.6s ease-out forwards;
}
.intro-text-secondary {
	max-width: 70%;
	justify-self: flex-start;
	margin: 5px 55px;
	color: rgba(0, 0, 0, 0.85);
}
#intro-secondary.animate {
	animation: fade-in 0.5s ease-in forwards, slide-up 0.6s ease-out forwards;
}
#intro-secondary2.animate {
	animation: fade-in 0.5s ease-in forwards, slide-up 0.6s ease-out forwards;
}
.intro-text h2 {
	margin-top: 70px;
	padding: 10px 0;
}
.intro-text-box h3 {
	padding-bottom: 60px;
}
.intro-text-box {
	text-wrap: wrap;
}

/* OUTRO */
.outro {
	display: flex;
	flex-direction: column;
	background: #e2e2e2;
	padding: 2em;
}

.outro-text {
	text-shadow: #232323 1px 1px 1px;
	padding: 1em;
	border-left: black 4px solid;
	border-bottom: black 4px solid;
	display: flex;
}
.outro-text h1 {
	margin-bottom: 60px;
}
.outro-text span {
	display: inline-block;
	animation: rippleEffect 3s linear infinite;
}
.outro-text span:nth-child(1) { animation-delay: 0.1s; }
.outro-text span:nth-child(2) { animation-delay: 0.2s; }
.outro-text span:nth-child(3) { animation-delay: 0.3s; }
.outro-text span:nth-child(4) { animation-delay: 0.4s; }
.outro-text span:nth-child(5) { animation-delay: 0.5s; }
.outro-text span:nth-child(6) { animation-delay: 0.6s; }
.outro-text span:nth-child(7) { animation-delay: 0.7s; }
.outro-text span:nth-child(8) { animation-delay: 0.8s; }
.outro-text span:nth-child(9) { animation-delay: 0.9s; }

.outro-text h2 {
	max-width: 65%;
}
.outro-logo {
	max-width: 230px;
	max-height: 230px;
	align-self: center;
	box-shadow: black 1px 2px 5px;
	border-radius: 999px;
	transition: 0.5s;
	transform-origin: center;
}
.outro-logo:hover {
	animation: shakeSmooth 1.6s linear infinite;
	max-width: 250px;
	max-height: 250px;
}
.outro-images {
	display: flex;
	gap: 2em;
	padding: 1em;
}
.outro-images-direct {
	border-radius: 10px;
	max-width: 50%;
	border-radius: 10px;
}
/*for outro internal link css go to utilities */


/* ACT */
.act {
	background-color: #242424;
	padding: 5em;
}
.act-bg {
  position: relative; 
  overflow: hidden;
  color: white;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.slideshow {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;     
  background-position: center;
  opacity: 0;
  animation: fade 50s infinite;
}

.slide:nth-child(1)  { animation-delay: 0s; }
.slide:nth-child(2)  { animation-delay: 5s; }
.slide:nth-child(3)  { animation-delay: 10s; }
.slide:nth-child(4)  { animation-delay: 15s; }
.slide:nth-child(5)  { animation-delay: 20s; }
.slide:nth-child(6)  { animation-delay: 25s; }
.slide:nth-child(7)  { animation-delay: 30s; }
.slide:nth-child(8)  { animation-delay: 35s; }
.slide:nth-child(9)  { animation-delay: 40s; }
.slide:nth-child(10) { animation-delay: 45s; }

@keyframes fade {
  0%   { opacity: 0; }
  5%   { opacity: 1; }   
  20%  { opacity: 1; }   
  25%  { opacity: 0; }   
  100% { opacity: 0; }
}

.act-text {
	display: block;	
	flex-direction: column;
	position: relative;
	z-index: 1;
	text-align: center;
	text-shadow: black 1px 1px 1px;
}
.act .internal-link {
	background-color: white;
	color: black;
	transform: scale(0.95);
	transform-origin: center;
	padding: 15px 15px;
	transition: 0.8s;
}
.act .internal-link:hover {
	background-color: black;
	color: white;
	transform: scale(1.0);
	transform-origin: center;
}

/* FOOTER */
.footer {
	background-color: black;
	padding: 3em;
	display: flex;
	flex-direction: column;
}
.footer h1 {
	align-self: center;
}
.footer .container {
	display: flex;
	justify-content: space-between;
	margin: 1em;
}
.footer .logo {
	padding: 3px;
	background-color: white;
	max-width: 100px;
	max-height: 100px;
}
.footer .navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	align-items: center;
}
.footer .socials {
	max-width: 100px;
	border-radius: 20px;
}



/* PROJECTS PAGE */


/* PROJECTS HERO */
.projects-hero {
	background-color: black;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 25em 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}
#project-hero-id.move {
	animation: shrink 1s ease-in forwards, awayRight 1s ease-in forwards;
}
.projects {
	padding: 3em;
	background-color: white;
}
.projects-container {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	padding: 2em;
	margin-top: 80px;
	gap: 10px;
}
.projects-content-1, .projects-content-2 {
	max-width: 100%;
	justify-self: center;
	align-self: center;
	border-radius: 25px;
}
.projects-text-1, .projects-text-2 {
	text-wrap: wrap;
	align-self: center;
	margin: 0px 30px;
}
.projects-tx {
	max-width: 90%;
}
.projects-text-1 p:nth-child(2) {
	max-width: 100%;
}
.projects-tx {
	margin: 20px 0;
}
#project-dropdown-button {
	color: white;
	cursor: pointer;
	background-color: rgb(143, 143, 143);
	border-radius: 12px;
	padding: 0px 5px;
	transition: 0.6s ease;
}
#project-dropdown-button:hover {
	opacity: 0.8;
}
#project-dropdown-button.open {
	color: black;
	padding: 0;
	border-radius: 0px;
	background: none;
	transition: 0s ease;
}
#project-dropdown-button.open:hover {
	opacity: 1;
}
#project-dropdown {
	transition: 0.4s ease;
	opacity: 0;
	transform: translateY(100px);
}
#project-dropdown.open {
	animation: slide-up 1s ease forwards, fade-in 1s ease forwards;
}
#project-dropdown-content {
	transition: 0.4s ease;
	opacity: 0;
	transform: translateX(100px);
}
#project-dropdown-content.open {
	animation: fadeInRight 1s ease forwards 0.5s;
}

/* PROJECT REACH OUT */

.reach-out {
	display: flex;
	padding: 0em;
	color: black;
	justify-content: center;
	align-content: center;
}
.reach-out-container {
	padding: 16em 24em;
	background-color: #242424;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}
.reach-out-text {
	
}
.reach-out-contact #contact-form {
	background-color: white;
	padding: 2em;
	color: black;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.reach-out-content #contact-form:nth-child(3) {
	background-color: black;
}

/* UPCOMING PROJECTS */
.projects-upcoming {
	padding: 5em 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-self: center;
}
.projects-upcoming-text {
	padding: 1em;
	max-width: 75%;
	margin-bottom: 20px;
}
.projects-upcoming-text .tx-lg, .projects-upcoming-text .tx-mega  {
	line-height: 0;
}
#upcoming-text-animation {
	transform: translateX(-200);
	opacity: 0;
	
}
#upcoming-text-animation.move {
	animation: fadeInLeft 1.1s ease forwards;
}


.projects-upcoming-content {
	background-color: white;
}
.carousel-projects {
  display: flex;
  width: 1500px;   /* adjust as needed */
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-track-container-projects {
  overflow: hidden;
  width: 100%;
}

.carousel-track-projects {
  display: flex;
  transition: transform 0.5s ease; /* smooth sliding */
}

.carousel-track-projects img {
  min-width: 50%;  /* one iframe per "slide" */
  height: 950px;    /* adjust height */
  border: none;
}

.carousel-btn-projects {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,1);
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  height: 100px;
  z-index: 10;
}
.carousel-btn-projects.left { left: 10px; }
.carousel-btn-projects.right { right: 10px; }




/* CONTACT PAGE CSS */
.contact-hero {
	display: flex;
	background-color: #242424;
	padding: 2em;
	padding-top: 7em;
	justify-content: center;
}
.contact-hero-text {
	align-self: flex-end;
	text-shadow: #000000 1px 1px 5px;
}
.contact-hero-text h2 {
	max-width: 65%;
}
.contact-register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
	padding: 2em;
}
.contact-register-text {
	
}
.contact-register-content {
	
}
.contact-register-content-container {
	padding: 3em 8em;
	background: #d4d4d4;
	border: solid white 2px;
	border-radius: 25px;
}
.contact-register-content-container #contact-form {
	padding: 2em;
	color: black;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	
}
/* UTILITIES */
a {
	text-decoration: none;
	color: black;
}

/* Adjustments */

.padding {
	padding: 1em;
}

/* Text sizes */
.tx-megaxl {
	font-family: "Poppins", sans-serif;
	font-size: 7em;
	font-weight: 800;
	line-height: 30px;
}
.tx-mega {
	font-family: "Poppins", sans-serif;
	font-size: 5.0em;
	font-weight: 700;
	line-height: 30px;
}
.tx-xlg {
	font-family: "Poppins", sans-serif;
	font-size: 3.2em;
	font-weight: 600;
	line-height: 40px;
}
.tx-lg {
	font-family: "Poppins", sans-serif;
	font-size: 2.0em;
	font-weight: 500;
	line-height: 40px;
}
.tx-md {
	font-family: "Poppins", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 40px;
}
.tx-sm {
	font-family: "Poppins", sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	line-height: 40px;
}
.tx-btn {
	font-family: "Poppins", sans-serif;
	font-size: 1.0em;
	font-weight: 300;
	line-height: 20px;
}
.tx-bold {
	font-style: bold;
}
.tx-italic {
	font-style: italic;
}
.tx-lineheight {
	line-height: 60px;
}
.tx-lineheightxl {
	line-height: 115px;
}
.tx-white {
	color: white;
}
.tx-light {
	color: #e2e2e2;
}
.tx-dark {
	color: #242424;
}
.tx-teal {
	color: #01A9A5;
}

/* Buttons */
.btn {
	display: inline-flex;
	padding: 14px 20px;
	background: white;
	color: black;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	/* cursor: pointer; */
	text-align: center;
	transition: 0.5s;
	flex-grow: 1;
	flex-shrink: 1;
}
.btn-highlighted {
	display: inline-flex;
	padding: 14px 20px;
	background: #242424;
	color: white;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	/* cursor: pointer; */
	text-align: center;
	transition: 0.5s;
	flex-grow: 1;
	flex-shrink: 1;
}
.btn:hover {
	transition-timing-function: ease-out;
	transform: scale(1.1);
    transform-origin: center;
	background: #242424;
	color: white;
}
.btn-highlighted:hover {
	transition-timing-function: ease-out;
	transform: scale(1.1);
	transform-origin: center;
}
.YT:hover {
	transition-timing-function: ease-out;
	transform: scale(1.1);
	transform-origin: center;
	background: red;
	color: white;
}
.internal-link-YT {
	display: inline-flex;
	padding: 14px 20px;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	/* cursor: pointer; */
	text-align: center;
	transition: 0.5s;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: red;
	color: white;
	transform: scale(0.9);
	transform-origin: center;
	transition: 0.8s;
}
.internal-link-YT:hover {
	transform: scale(1.0);
	transform-origin: center;
}
/* Animations */
@keyframes move-bg  {
0% {
	background-position: 0 0;
}
24% {
	background-position: 0 0;
}
25% {
	background-position: 1280px 0;
}
49% {
	background-position: 1280px 0;
}
50% {
	background-position: 2560px 2560px;
}
74% {
	background-position: 2560px 2560px;
}
75% {
	background-position: 0 1280px;
}
100% {
	background-position: 0 1280px;
	}
}
@keyframes slide-up  {
	0% {
		transform: translateY(100px)
	}
	100% {
		transform: translateY(0px)
	}
}
@keyframes fade-in  {
	0% {
		opacity: 0.2
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeInRight {
  0% {
	opacity: 0;
	transform: translateX(200px);
  }
  100% {
	opacity: 1;
	transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
	opacity: 0;
	transform: translateX(-200px);
  }
  100% {
	opacity: 1;
	transform: translateX(0);
  }
}
@keyframes rippleEffect {
	0% { transform: translateY(0px); }
	5% { transform: translateY(15px); }
	15% { transform: translateY(-15px); }
	20% { transform: translateY(0px); }
	100% { transform: translateY(0px); }
}
@keyframes shrink {
  0%   { transform: scale(1); border-radius: 22px; }
  100% { transform: scale(0); border-radius: 25px; }
}

@keyframes awayRight {
  0%   { top: 0; left: 0; }
  100% { top: -500px; left: 650px; }
}
@keyframes shakeSmooth {
	
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-30deg); }
	75% { transform: rotate(30deg); }
	
}
#project-hero.animate {
  animation: shrink 2s ease-in forwards, awayRight 2s linear forwards;
}
.hero-animation {
	animation: fade-in 1.0s ease-in forwards, slide-up 1.2s ease-out forwards;
}
.hero-animation-delay1 {
	animation: fade-in 0.4s ease-in forwards, slide-up 0.55s ease-out forwards;
}
.hero-animation-delay2 {
	animation: fade-in 0.4s ease-in forwards, slide-up 0.55s ease-out forwards;
	animation-delay: 0.3s;
}
.hero-animation-delay3 {
	animation: fade-in 0.4s ease-in forwards, slide-up 0.55s ease-out forwards;
	animation-delay: 0.6s;
}

/* Quick Font Change */

.roboto {
	font-family: "Roboto", sans-serif;
}


































/* Cache Specific Commands */

.hidden {
	display: none;
}